MIX_ENV=prod
# AUTH_VERIFIER is set to "firebase" or "mock"
AUTH_VERIFIER=firebase
# Required when AUTH_VERIFIER=firebase
FIREBASE_PROJECT_ID=replace-me
DATABASE_PATH=/var/lib/bluette_server/bluette_server.db